// ======================== HEADER ========================

if(title == 'Purchase Price Allocations Visualized Through Benchmarking')
  - var headerClass = 'main_header'
else if(title == 'Result')
  - var headerClass = 'main_header header_bg header_fix'
else
  - var headerClass = 'main_header header_bg'

header(class="#{headerClass}")
  .resolution
    .logo
      a(href='/', title='bench805.com')
    //.header_right_tool.logged
    .header_right_tool
      // visible blog logged or not
      if(title == 'Result')
        .btn_filters_vis
      .btn_user_tool_vis
      .usertool.align_c
        .h_login_box
          .login_btn
            a(href='/users/login') Log In
          .sign_up_btn
            a(href='/users/signup') Sign Up
        .h_logged_box
          .h_username
            | Testlongusername
          .btn_logout
            button(type='submit')
      .btn_menu_vis
      nav.header_menu
        div
          a(href='/results_table', title='bench805.com | Benchmarking')
            | Benchmarking
        div
          a(href='/about', title='bench805.com | About')
            | About
        div
          a(href='mailto:info@bench805.com?subject=Feedback', target='_blank', title='bench805.com | Get in Touch')
            | Get in Touch
